<li>
  <div class="product-item"data-id=<%= product.id %> data-name="<%= product.name %>">
    <%= product.base_price %> - <%= game.description %> 
    <%= product.quantity_on_hand %> <%= product.color %>
    <%= product.weight %> <%= product.other_attributes %>
  <div />
  <button class="btn" id="edit-product">Edit</button>
  <button class="btn" id="delete-product">Delete</button>
</li>